  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  .bg-dark-blue{
    background-color: #071821;
  }
  .bg-black {
    background-color: #212529!important; 
  }
  .text-mint-green {
    color: rgb(134, 192, 108) !important; 
  }
  .text-light-green {
    color: rgb(166, 199, 150) !important; 
  }
  .text-light-green-1 {
    color: rgb(182, 199, 173) !important; 
  }

  .text-light-green-2 {
    text-align: left;     
    font-size: 1.25rem;       
    line-height: 1;        
    margin: 0;             
    font-family: 'Montserrat', sans-serif;
    opacity: 50%;
}


  /* Base font size for large screens */
  .text-light-green, .text-light-green-1 {
    font-size: 2rem; 
  }

  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .text-light-green, .text-light-green-1 {
        font-size: 1.2rem; 
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='green' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  .vertical-line-left {
    border-left: 6px solid rgb(134, 192, 108);
    height: auto;
  }

  .vertical-line-right {
    border-right: 6px solid #86c06c;
    height: auto;
  }

  .align-items-left {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }

  .avatar{
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .flex-container > div {
    width: 45vw;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .full-screen {
    height: 100vh; 
    width: 100%;   
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 1.5rem; 
  }

  @media (max-width: 768px) {
    .full-screen {
      font-size: 1.2rem; 
      padding: 1rem;     
    }

    .flex-container {
    flex-direction: column;
    }
    .avatar {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    .full-screen {
      font-size: 1rem; 
      padding: 0.5rem; 
    }
  }
  .social-icons {
    margin-top: 5px;
  }

  .social-icons a {
    margin: 0 10px;
    color: #86c06c;
    font-size: 24px;
    transition: color 0.3s ease;
    position: relative;
    text-decoration: none;
  }

  .social-icons a:hover {
    color: #86c06c; 
  }

  .social-icons a:hover::after {
    opacity: 1;
  }

  .responsive-margin {
    margin-top: 6vh; /* Default for mobile */
  }

  @media (min-width: 768px) {
    .responsive-margin {
      margin-top: -15vh; /* For tablets and up */
    }
  }

  .tech-badges {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  .badge-tooltip {
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .badge-tooltip:hover {
    transform: scale(1.2);
  }
  